<% action_url = (method == :post) ? users_url : user_url(user) %>

<form action="<%= users_url %>" method="post">

  <label>Email
    <input type="text" name="user[email]" value="<%= user.email %>">
  </label>

  <label>Password
    <input type="password" name="user[password]" value="<%= user.password %>">
  </label>

  <% if method != :post %>
    <input type="hidden" name="_method" value="put">

  <% end %>

  <input type="hidden"
          name="authenticity_token"
          value="<%= form_authenticity_token %>">

  <input type="submit">

</form>